@charset 'utf-8';

.wrap_slide{
    position: relative;
    height:50vw;
    width:40vw;
    left: 25vw;
    overflow: hidden;
}


.arrow{
    position: absolute;
    display: flex;
    justify-content:space-between ;
    width: 94%;
    padding:0 3% 0 3%;
    top:50%;
    transform:  translateY(-50%);
    font-size:40px;
    color: lightskyblue;
    z-index: 99%;
}

.slide{
    display:flex;
    flex-direction: row;
    width:400%;
    height: 100%;
}

.slide *{
    width: 100%;
    height: 100%;
}

.wrap_btn{
    position:absolute;
    bottom:0;
    width:34%;
    display:flex;
    justify-content: space-evenly;
    transform: translateY(-100%);
    left:34%;
}

.btn_nav{
    background-color: white;
    width: 1vw;
    height: 1vx;
    border-radius: 100%;
}